/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
.h1,h1{
  font-family: "Lilita One", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.h2,h2,.h3,h3,.h4,h4,.h5,h5{
  font-family: "Lilita One", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.body,body{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color: #fffce3
}
.card {
    background-color: #ffffff
}


